.output-section {
    .output-items {
        color: #ccc;
        margin-left: 20px;

        .output-link {
            color: #09f14f;
            text-decoration: none;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}