.home-container {
  padding: 40px;

  .construction-indicator {
    color: #ffcc00;
    margin-top: 20px;
  }

  .developer-info {
    color: #fff;
    margin-top: 10px;

    .roles {
      font-size: 14px;
      color: #ccc;
      margin-left: 20px;
    }

    .tech-stack {
      font-size: 14px;
      color: #ccc;
      margin-left: 20px;
    }

    .links {
      font-size: 14px;
      color: #ccc;
      margin-left: 20px;
    }

    .emoji {
      font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne', 'Twemoji', sans-serif;
    }
  }
}