.home-container {
  padding: 40px;

  .construction-indicator {
    color: #ffcc00;
    margin-top: 20px;
  }

  .developer-info {
    color: #fff;
    margin-top: 10px;
  }

  .emoji {
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne', 'Twemoji', sans-serif;
  }

  @media (max-width: 350px) {
    padding: 10px;
    font-size: 10px !important;
  }
}